In [1]:
import pandas as pd

df = pd.read_csv('Online Retail.csv')

In [2]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [3]:
# Remove rows where CustomerID is missing
df = df.dropna(subset=['CustomerID'])

# Fill missing Description
df['Description'] = df['Description'].fillna('Unknown')

In [5]:
df['InvoiceDate'] = pd.to_datetime(
    df['InvoiceDate'],
    format='%d-%m-%Y %H:%M'
)

In [6]:
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

In [7]:
df['TotalRevenue'] = df['Quantity'] * df['UnitPrice']

In [8]:
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day_name()

In [9]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     397884 non-null  object
 1   StockCode     397884 non-null  object
 2   Description   397884 non-null  object
 3   Quantity      397884 non-null  int64
 4   InvoiceDate   397884 non-null  datetime64[ns]
 5   UnitPrice     397884 non-null  float64
 6   CustomerID    397884 non-null  float64
 7   Country       397884 non-null  object
 8   TotalRevenue  397884 non-null  float64
 9   Year          397884 non-null  int32
 10  Month         397884 non-null  int32
 11  Day           397884 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(2), int64(1), object(5)
memory usage: 36.4+ MB

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalRevenue,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,Wednesday

In [10]:
df.to_csv('Online_Retail_Cleaned.csv', index=False)